* {
  font-family: "Microsoft YaHei";
  color: black;
  margin: 0px;
}
* ul {
  list-style: none;
}
* a {
  color: black;
  text-decoration: none;
}
* a:hover {
  text-decoration: none;
}
.banner_container {
  width: 100%;
  height: auto;
}
.news_container {
  width: 100%;
  position: relative;
  padding-top: 2%;
  background-color: #eef3fa;
}
.news_container .route_nav {
  padding-left: 10%;
}
.news_container .route_nav a {
  color: #7399BC;
}
.news_container .news_total {
  width: 80%;
  margin: 0px auto;
  position: relative;
}
.news_container .news_total .news_nav {
  width: 25%;
  background: #F7F9FC;
  position: relative;
  background: #eef3fa;
}
.news_container .news_total .news_nav .new_notice {
  width: 100%;
  background: white;
  padding: 10px 0px 0px 10px;
}
.news_container .news_total .news_nav .new_notice ul {
  padding-left: 0px;
  padding: 10px 0px 0px 10px;
}
.news_container .news_total .news_nav .new_notice ul li {
  padding: 10px 0px;
  border-bottom: 1px solid gainsboro;
}
.news_container .news_total .news_nav .new_notice ul li div {
  width: 64%;
  float: right;
}
.news_container .news_total .news_nav .tag {
  width: 100%;
  padding-bottom: 20px;
  margin-top: 20px;
  background: white;
  padding: 10px 10px 30px 10px;
}
.news_container .news_total .news_nav .tag div {
  margin-top: 20px;
}
.news_container .news_total .news_nav .tag div span {
  padding: 6px 12px;
  margin-left: 5%;
  color: black;
  font-size: 14px;
  background: #DBEEFF;
  border: 1px solid #76C0FF;
}
.news_container .news_total .news_nav .tag div .add {
  border: 1px dashed #CCCBD0;
  background: white;
  padding: 6px 18px;
  color: #CCCBD0;
  cursor: pointer;
}
.news_container .news_total .news_nav .tag div .recomd_tag {
  border: none;
  background: #EBEAEC;
}
.news_container .news_total .news_nav .tag .search {
  width: 90%;
  margin: 0px auto;
  margin-top: 16px;
  border: 1px solid #49ACFF;
}
.news_container .news_total .news_nav .tag .search input {
  border: none;
  height: 26px;
  width: 72%;
}
.news_container .news_total .news_nav .tag .search button {
  padding: 3px 17px;
  border: none;
  background: #49ACFF;
  color: white;
}
.news_container .news_total .news_nav .tag div:last-child a {
  float: right;
  margin-right: 12px;
  color: #95CBFF;
}
.news_container .news_total .news_content {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 72%;
  background: #eef3fa;
}
.news_container .news_total .news_content .content_item .picture {
  width: 100%;
  height: 340px;
}
.news_container .news_total .news_content .content_item .text {
  padding: 0px 13px;
}
.news_container .news_total .news_content .content_item .text h3 {
  display: inline;
  font-size: 16px;
  color: #2b3e4f;
}
.news_container .news_total .news_content .content_item .text time {
  margin-left: 54%;
}
.news_container .news_total .news_content .content_item .text .artile {
  font-size: 14px;
  color: #bcbbc1;
}
.news_container .news_total .news_content .content_item .text .read_more {
  position: absolute;
  right: 8%;
  bottom: -7%;
  font-size: 16px;
  background: white;
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 19.5px;
  border: solid 1px #bcbbc1;
}
.footer .concat {
  width: 100%;
  height: 70px;
  line-height: 70px;
  border: 1px solid transparent;
  background-color: #4AA3FF;
}
.footer .concat ul {
  margin: 0px auto;
  width: 54%;
}
.footer .concat ul li {
  margin-left: 11.4%;
  float: left;
}
